#logueo{
	/*background: #fafafa;*/
	width:700px;
	height:500px;
	position:absolute;
	left:35%;
	/*top:20%;*/
	border-radius:3px;
	border:solid 1px #ccc;
}
#logueo > form{
	width:60%;
	margin-left: 20%;
	height:60%;
	margin-top:3%;
}
#logueo > form  > input{
	width:100%;
	height:30px;
	margin-top:25px;
	border-radius: 3px;
	border:solid 1px #ccc;
}
#logueo > form > button{
	margin-top:30px;
	width:50%;
	margin-left:25%;
	height:30px;
}
#nueva-contra{
	position:absolute;	
	bottom:0;
	right:0;
	margin:0;
	height:50px;
	border-radius:3px;
	border:solid 1px #ccc;
}
#renovar-contra{
	position:absolute;
	display:none;
	top:5px;
	width:70%;
	left:15%;
	height:60%;
	background:#f1f1f1;
	border:solid 1px #ccc;
}
#renovar-contra a{
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	padding:5px;
	padding-left:7px;
	padding-right:7px;
	background:#e60000;
}
#renovar-contra input{
	width:50%;
	height:25px;
	margin-top:10px;
	margin-left:25%;
}
.boton {
	width:100px;
	background:#0085ba;
    box-shadow: 0px 1px 0px 1px #006799;
    padding:7px;
    border:none;
    border-radius:1px;
    color:#fff;
}
.boton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
/*.boton:active {
	position:relative;
	box-shadow: 0px -1px 0px 1px #006799;
	top:1px;
}*/